html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
body {
  font-family: "Inter",sans-serif;
  background: linear-gradient(135deg, deepskyblue, lightskyblue, white);



}
  .team-card {
    border: none;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
  }
  
  .team-card:hover {
    transform: translateY(-10px);
    cursor: pointer;
  }
  
  .team-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #0d6efd;
    margin-top: -60px;
  }

  
  .btn-blue {
    background-color: #0d6efd;
    color: white;
  }
  .truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Hiển thị 2 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .btn-blue:hover {
    background-color: #0056d2;
    transition: 0.3s;
    color:#fff;
  }
  
  .list-members {
    margin-top: 70px !important;
  }
  @media screen and (max-width: 468px) {
    .list-members {
      gap: 50px;
    }
  }
